
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid;
    place-items: center; */
    background: #151515;
    color: white;
}

.bubl {
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    /* -webkit-appearance: none; */
    appearance: none;
    background-color: #0077ff ;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.bubl::before,
.bubl::after {
    position: absolute;
    content: "";
    display: none;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubl::before {
    top: -75%;
    background-image: radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #06f7ff 20%, transparent 30%),
        radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, #06f7ff 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #01f899 15%, transparent 20%),
        radial-gradient(circle, #06f7ff 20%, transparent 20%),
        radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, #06f7ff 20%, transparent 20%),
        radial-gradient(circle, #01f899 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
}

.bubl::after {
    bottom: -75%;
    background-image: radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #06f7ff 15%, transparent 20%),
        radial-gradient(circle, #06f7ff 20%, transparent 20%),
        radial-gradient(circle, #01f899 20%, transparent 20%),
        radial-gradient(circle, #06f7ff 20%, transparent 20%),
        radial-gradient(circle, #01f899 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubl:active {
    transform: scale(0.9);
    background-color: #0077ff;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubl.animate::before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubl.animate::after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

h2{
    text-align: center;
}

p{
    margin-left: 20px;
}

p.bubl{
    text-align: center;
}

p.botao{   
    text-align: center;
    line-height: 70px;
    display: block;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    width: 200px;
    height: 80px;
    background-color:rgb(122, 122, 122);

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 14px;
    transition: all 0.8s;
}

p.botao:hover{
    background-color: rgb(163, 162, 162);
    transform: scale(0.9);
    border-radius: 20px;
    transition: transform 0.7s, border-radius 0.4s ;
}

a.link-1{  
    text-align: left;
    display: block;
    margin: 500px 20px 20px 20px;
    padding: 3px 0px 3px 10px;
    max-width: 300px;
    background-color:#151515;

    text-decoration: none;
    color: rgb(95, 95, 95);
    font-weight: normal;
    font-size: 1em;
    border-radius: 14px;
    transition: all 0.8s;
}

a.link-1:hover{
    color: rgb(160, 160, 160);
}

a.link-1:active{
    color: white;
    background-color: #313131;
    transform: scale(0.9);
    border-radius: 20px;
    transition: transform 0.7s, border-radius 0.4s, background-color 0.5s, width 0.7s, height 0.7s ;
}

a.link-2{  
    text-align: left;
    display: block;
    margin: 500px 20px 20px 20px;
    padding: 3px 0px 3px 10px;
    max-width: 300px;
    background-color:#151515;

    text-decoration: none;
    color: rgb(95, 95, 95);
    font-weight: normal;
    font-size: 1em;
    border-radius: 14px;
    transition: all 0.8s;
}

a.link-2:hover{
    color: rgb(160, 160, 160);
}

a.link-2:active{
    color: white;
    background-color: #151515;
    transform: scale(0.9);
    border-radius: 20px;
    transition: transform 0.7s, border-radius 0.4s, background-color 0.5s ;
}

hr{
    display: block;
    max-width: 900px;
    text-align: center;
    /* margin-right: 20px;
    margin-left: 20px; */
}

hr.mnr{
    display: block;
    max-width: 350px;
    text-align: center;
}

mark.bix{
    background-color: rgba(98, 235, 98, 0.788);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

mark.nobix{
    background-color: rgba(240, 86, 86, 0.877);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

mark.intr{
    background-color: rgba(240, 200, 86, 0.8477);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}



span.quant{
    color: rgb(0, 255, 213);
}

span.nome-aluno{
    color: rgb(135, 207, 255);
}



img{
    background-color: #ffffff00;
    display: block;
    text-align: left;
    margin: 500px 0px 20px 20px;
    max-width: 50px;
    max-height: 80px;
    transition: all 0.6s;
}

img:active{
    margin-left: 100px;
    transition: all 0.2s;
}

img, a, p, #res ::selection{
    color: white;
    background-color: #ffffff00;
}


