@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,200;1,600&display=swap');

*{
    margin: 0;
    transition: all 0.5s ease-in;
}

body{
    background-color: #303030;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 0 10px 0 10px;
}

p{
    margin-top: 8px;
}

header{
    margin: auto;
    text-align: center;
    background-color: #444;
    max-width: 400px;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 15px;
}


input{
    display: block;
    margin: auto ;
    outline: 0 auto;
    border: 1px solid #444;
    padding: 8px;
    border-radius: 6px;
}

form{
    text-align: left;
}

.calculadora{
    margin-top: 80px;
    margin: auto;
    display: block;
    border: 1px solid #444;
    max-width: 600px;
    padding: 50px;
    border-radius: 15px;
}
.calculadora.dark {
    background-color: #f1f1f1;
    color: black;
    transition: all 0.5s ease;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s;
}

.theme-toggler::before{
    content: "";
    height: 15px;
    width: 30.5px;
    position: absolute;
    top: 20px;
    right: 31px;
    transform: rotate(-40deg);
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    background-color: #adadad;
    z-index: 1;
    transition: all 0.5s;
}

.toggler-icon::after{
    content: "";
    position: absolute;
    height: 17px;
    width: 31px;
    top: 8px;
    right: 40px;
    transform: rotate(140deg);
    border-radius: 0 0 100px 100px;
    background-color: rgb(19, 19, 19);
    z-index: 1;
    transition: all 0.5s;
}

.theme-toggler.active::before{
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.toggler-icon.active::after{
    background-color: rgba(97, 123, 145, 0.877);
    transition: all 0.5s;
}

#addNote{
    font-size: 1.05em;
    padding: 13px;
    background-color: rgb(122, 155, 197);
    border: 1px solid rgb(122, 155, 197);
    border-radius: 7px;
    margin: 30px 3px 20px 7px;
    color: white;
}

#addNote:hover{
    background-color: rgb(92, 139, 201);
}

#addNote:active{
    background-color: rgb(79, 107, 143);
    transform: scale(0.9);
}

.resultado{
    margin-top: 30px;
    
}

#reset{
    display: block;
    text-align: right;
    background-color: rgb(236, 103, 103);
    border: 1px solid rgb(236, 103, 103);
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}    

.edit{
    background-color: rgb(150, 199, 104);
    border: 1px solid rgb(146, 192, 103);
    border-radius: 6px;
    padding: 3px;
    margin: 8px 8px 5px 15px;
    color: white;
}

.edit:active{
    transform: scale(0.9);
    background-color: rgb(117, 223, 18);
    border: 1px solid rgb(117, 223, 18);
}

.delet{
    background-color: rgb(240, 116, 116);
    border: 1px solid rgb(240, 116, 116);
    border-radius: 6px;
    margin: 5px 0px 5px 7px;
    padding: 3px;
    color: white;
}

.delet:active{
    transform: scale(0.9);
    background-color: rgb(219, 38, 38);
    border: 1px solid rgb(219, 38, 38);
}

.text{
    border-radius: 10px;
    padding: 1px 3px 8px 7px;
    margin: 15px 0px 7px 0px;
    max-width: 100px;
    background-color: rgba(240, 248, 255, 0.158);
}

#reload{
    padding: 10px;
    display: grid;
    place-items: center;
}

#reset{
    font-size: 1.02em;
    text-align: center;
    width: 90px;
    padding: 13px;
    transition: padding 0.4s;
}

#reset:active{
    transform: scale(0.9);
}

img{
    width: 20px;
    padding-bottom: 2px;
    margin-bottom: -7px;
}

li{
    list-style-type:circle;
}

footer{
    margin: 10px;
    text-align: center;
}

