@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    height: 100vh;
    position: relative;
}

#ifra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 240px;
    height: 500px;

    background: url('../pacote-d013/imagens/frame-iphone.png');
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

iframe#frame{
    position: absolute;
    top: 50.4%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    max-width: 205.5px;
    min-height: 363.4px;
}

img{
    max-width: 60px;
}

section#menu{
    text-align: right;
}

section#menu img {
    max-width: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.63);
    transition: all 0.8s;
}

section#menu img:hover{
    transform: translate(-3px, -3px);
    box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.678);
    box-sizing: border-box; /* essa configuração servce para nao movimentar outros itens ao adicionar a nova borda */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.753);
    transition: transform .4s, box-shadow .3s;
}

section#menu img:active{
    opacity: 0.7;
    transition: 0.1s;
}




