@charset "UTF-8";

:root{
    --cor-main00:#FF4848;
    --cor-main01:#C13333;
    --cor-main03:#f85858;;
    --cor-main04:#6D1414;

    --fund001:#111111;
    --fundo02:#202020;
    --fundo03:#9292920e;
    --fundo04:#ffffff2d;    
    --fundo05:#ececec;
    
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* configuração da Scrollbar body */
body::-webkit-scrollbar{
    width: 13px;
}

body::-webkit-scrollbar-track-y{
    border-radius: 35px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 35px;
    border: 0.5px solid rgb(58, 58, 58);
    background-image: linear-gradient(to bottom, rgb(212, 97, 97), rgb(68, 68, 68));
}

/* links */
a:active{
    background-color: #20202000;
    color: none;
}

/* Select da Página */
*::selection{
    background-color: var(--cor-main03);
    color: rgb(255, 255, 255);
}

body{
    background-color: var(--fundo02);
    background-image: url('https://raw.githubusercontent.com/EzequiellSantos/Projetos/main/projeto-portfolio/imagens/Fundos/fundo_p.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

header{
    width: 100vw;
}

/* Main Principal */
main{
    display: flex;
    margin-top: 50px;
    padding-right: 1px;
    color: var(--fundo05);
    flex-direction: column; /* aqui */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Section Globais */
section{
    display: block;
    float: none;
    max-width: 390px;
    margin-bottom: 30px;
    flex: 1;
}

/* Configuração da Section PROFILE */
#profile{
    backdrop-filter: blur(20px);
    width: calc(100% - 40px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
    transition: all 0.4s ease-out;
}

span{
    background-color: var(--fundo04);
    padding: 5px;
    border-radius: 7px;
}

#img-profile{
    display:grid;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
}

.aside-profile{
    text-align: center;
    font-size: 0.85em;
    margin: 30px 0px 30px 30px;
    line-height: 1.5em;
    min-width: 200px;
}

#icons-profile{
    display:flex;
    align-items: center;
    width: 100%;
}

aside > img{
    border-radius: 11px;
    max-width: 100px;
    max-height: 70px;
}

img#img-mesage{
    background-color: var(--fundo03);
    padding: 13px 13px 13px 13px;
    max-width: 35px;
    max-height: 40px;
}

img#img-phone{
    background-color: var(--fundo03);
    padding: 10px 15px 13px 15px;
    max-height: 50px;
}

img#img-location{
    background-color: var(--fundo03);
    padding: 0px 14px 0px 14px;
    width: 30px;
    height: 60px;
}

img#img-calendar{
    background-color: var(--fundo03);
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 40px;
}

#data-profile{
    margin-left: 20px;
    margin-top: 0.1em;
    margin-bottom: 0.6em;
    text-align: left;
    width: 100%;
}

#p-email{
    transition: font-size 0.4s ease-in-out;
}

#p1-span{
    text-align: center;
    margin-right: 20px;
    font-size: 1.2em;
}

#p2-span{
    font-family:  monospace;
    margin: 10px 24px 0px 0px;
}

hr.hr-profile{
    margin-left: 17%;
    margin-right: 15%;
    color: var(--fundo05);
}

/* Configuração da Section HOME */
#home{
    display: inline-block;
    width: calc(100% - 40px);
    line-height: 1.8em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px 10px 10px 20px;
    border-radius: 25px;
    font-size: 0.9em;
}

hr.hr-text{
    width: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3.5px solid var(--cor-main03);
    border-radius: 4px;
}

#home > article#article-txt{
    margin: auto;
    max-width: 95%;
    text-align: justify;
    font-size: 1.1em;
} 

#all-cards{
    /* Container Cards */
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    overflow-x: scroll;
    margin-bottom: 80px;
    box-shadow: inset 2px 2px 12px 5px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

/* estilizando a scrollbar Projetos */
#all-cards::-webkit-scrollbar{
    width: 5px;
    height: 6px;
}

#all-cards::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: transparent;
    transition: all 0.9s;
}

#all-cards::-webkit-scrollbar-thumb{
    border-radius: 35px;
    background-image: linear-gradient(to right, var(--cor-main00),  var(--fundo03));
}

#all-cards::-webkit-scrollbar-track:hover{
    background-color: var(--fundo04);
}

#project-cards{
    /* Sub-container Cards */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 80px;
    width: 100%;
    max-width: 300px;
    height: 200px;

}

#cards{
    /* Cards */
    font-family: monospace;
    text-align: left;
    height: 120px;
    width: 200px;
    margin-left: 20px;
}

.txt{
    color: var(--fundo05);
    letter-spacing: 1.0px;
    font-size: 1.1em;
    padding: 10px 10px;
    text-align: left;
}

.descrition{
    font-size: 0.85em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    color: rgb(17, 224, 231);
}

/* Aside Globais */
#cards{
    background-color: var(--fundo02);
    box-shadow: 0.3em 0.5em 1.0em rgba(10, 10, 10, 0.562);
    border-radius: 10px;
    border: 0.7px solid var(--cor-main04);
    overflow: hidden;
    position: relative;
    transition: all 0.1s;
}