@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,700;1,1;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    padding: 0px 10px 0px 10px;
    background-image: linear-gradient(-40deg, #1E2025, #5a8aa1);
    color: white;
    height: 100vh;
}

nav#nav-menu{
    position: relative;
    bottom: 0;
    background-color: #c1e5ff6b;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

nav #menu{
    position: sticky;
    bottom: 0px;
    left: 10px;

    backdrop-filter: blur(20px);
}

#toBack{
    width: 35px;
    transition: all .4s;
    transition: opacity .4s;
    opacity: 1;
    user-select: none;
}

a{
    user-select: none;  
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 15px 4px 0px 4px;
    font-family: 'Ysabeau Infant', sans-serif;
}

header > h1{
    font-size: 2.4em;
}

nav{
    margin-top: 10px;
}

#menu a{
    color: white;
    font-family: 'Josefin Slab', serif; 
}

#articleOF-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 20px 0px 0px 0px;
}

section.fixed-section{
    padding: 20px;
    height: 27px;

    font-size: 2.0em;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
    text-align: center;
}

section.fixed-section.fixed{
    position: fixed; 
    top: 10px;

    width: 80%;
    margin: 0px 6px 0px 6px;

    font-size: 1.8em;
    border-radius: 60px;
    border: 0.1px solid rgb(235, 235, 235); 
    backdrop-filter: blur(13px);
}

main{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 90px;
    
    max-width: 600px;
}

article{
    width: 100%;
    margin: auto;
}

aside#main-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #92A4B1;
    border-radius: 20px;
    padding: 20px;
}

div.image{
    backdrop-filter: blur(20px);
    padding: 22px;
    border-radius: 15px;
}

section.links{
    flex: 1 0 500px;
    margin: 20px 8px 20px 0px;
    border-radius: 15px;
    box-shadow: 0.2em 0.3em 0.8em #1e202556; 

    background-image: url('../Icons-Math/fundo-escuro-08.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;

    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}

section.links:hover{
    transform: translate(2px, 1px); 
    box-shadow: 0.3em 0.3em 0.5em #0c0d3571; 
}

hr.hr-links{
    width: 20px;
    border: 0;
    border-radius: 1px;
    height: 2px;
    background-color:#ffffff;
    margin: 0px 0px 0px 2px;
    z-index: 1;
    animation: reset 0.8s reverse ease-in-out;
}  

div.image > p::after{
    content: "";
    position:absolute;
    left: 25px;
    bottom: 20px;
    width: 70%;
    height: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
}

.image:hover > p::after{
    transform: scaleX(1);
}

/* div:hover > hr.hr-links{
    transition: all 1s;
    animation: ;
} */

/* @keyframes reset{
    100%{
        width: 300px;
    }
    0%{
        width: 20px;
    }
} */

/* @keyframes move{
   0%{
        width: 20px;
    }
    100%{
        width: 300px;
    }
} */


@media screen and (max-width: 500px) {

    header > h1{
        font-size: 1.8em;
    }

    section.fixed-section{
        font-size: 1.6em;
    }

    section.links{
        background-image: url('');
        background-color: #4ad3eb;
    }

    div.image{
        backdrop-filter: blur(1px);
/*         text-shadow: 0.05em 0.1em 0.2em rgba(255, 255, 255, 0.596); */
    }

    div:hover > hr.hr-links{
    transition: all 1s;
    animation: move 1.5s both cubic-bezier(.26, 1.02, 1, -0.62);
}


    @keyframes reset{
        100%{
            width: 90%;
        }
        0%{
            width: 20px;
        }
    }
    
    @keyframes move{
       0%{
            width: 20px;
        }
        100%{
            width: 90%;
        }
    }
}


@media screen and (min-width: 755px) {
    section.fixed-section.fixed{
        max-width: 800px;
    }
} 