@charset "UTF-8";

body{
    /* background-image: url('space-g69998e9af_1920.jpg'); */
    background-color: rgb(41, 41, 41);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    transition: all .8s;
    padding-left: 10px;
    padding-right: 10px;
}

header{
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: white;

}

section{
    color: #fff;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    max-width: 450px;
    min-height: 480px;
    border-radius: 20px;
    /* box-shadow: 4px 8px 10px rgba(5, 5, 41, 0.281); */

    background-image: linear-gradient( 135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 48px;
}

p{
    font-size: 1.2em;
    color: white;
}

input.nas{
    margin-top: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: rgb(192, 192, 192);
    border-bottom-width: 1px;
    transition: all 0.7s ;
    border-bottom-style:  ridge;
    background-color: rgba(119, 119, 119, 0);
    text-decoration-color: aliceblue;
    color: rgba(184, 184, 184, 0.938);
    text-align: center;
    font-size:17px;
}

input.nas:hover{
    color: white;
}

input::placeholder{
    color: rgba(167, 167, 167, 0.664);
}

textarea:focus, .nas:focus{
    box-shadow: 0;
    outline: 0;
    border: 0;
    transition: all 0.5s;
    border-bottom: 1px solid rgb(179, 169, 169); 
    padding: 0px 0px 5px 4px;
    text-align: center;
    font-size: 1.0em; 
    -shadow: 1px 3px  outset black; 
    color: white;

}

div#res{
    font-family: sans-serif;
    line-height: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.459);
    color: rgb(8, 55, 117);  
    width: 160px; 
    min-height: 180px;
    border-radius: 10px;
    padding: 15px 8px 5px 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.363);
}


#ver{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    border: none;
    padding: 7px;
    margin-top: 20px;
    margin-left:45px;
    border-radius: 5px;
    background-color: rgb(94, 166, 248);
    transition: all 0.6s;
    letter-spacing: 1px;
}

#ver:hover{
    transform: scale(0.9);
    background-color: rgb(151, 217, 255);
    color: white;
    transition: background-color 0.8s, color 0.2s, trasnform 0.8s;
}

#ver:active{
   background-color:  rgb(15, 100, 150);
}

.ver-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    border: none;
    padding: 7px;
    margin-top: 20px;
    margin-left:45px;
    border-radius: 5px;
    background-color: rgb(153, 151, 255);
    transition: all 0.6s;
    letter-spacing: 1px;
}

.ver-2:hover{
    transform: scale(0.9);
    background-color: rgb(151, 187, 255);
    color: white;
    transition: background-color 0.8s, color 0.2s, trasnform 0.8s;
}

.ver-2:active{
    background-color: rgb(12, 49, 119) ;
}


#slct{
    padding: 12px 3px 4px 6px;
    border-radius: 14px;
}

#slct::-webkit-scrollbar{
    border-radius: 10px;
}


footer{
    text-align: center;
    margin-top: 30px;
    color: white;
}

a.link-footer{
    text-decoration: none;
    color: white;
}



