@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    padding: 0px 6px 0px 6px;
    background-image: linear-gradient(-60deg, rgb(105, 104, 104), rgb(61, 61, 61));
}

header{
    text-align: center;
    margin: 15px 4px 10px 4px;
}

section.title{
    flex: 1 0 500px;
    margin: auto;
    padding: 35px;
    max-width: 700px;
    border-radius: 60px;
    border: 0.1px solid black; 

    font-size: 1.5em;
}

main{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    
    max-width: 600px;
}

article{
    width: 100%;
    margin: auto;
}

aside#main-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: GRAY;
    border-radius: 12px;
    padding: 20px;
}

section.links{
    flex: 1 0 500px;
    margin: 20px 8px 20px 8px;
    padding: 22px;
    border-radius: 35px;
    border: 0.1px solid rgb(247, 243, 243);

    font-size: 1.3em;

    background-color: rgba(228, 228, 228, 0.63);
    fill: blur(400px);
    color: rgb(46, 46, 46);
}

hr{
    transition: all 0.7s;
}

hr.hr-links{
    width: 20px;
    border: 0;
    height: 3px;
    background-color:aquamarine;
    margin: 10px;
    z-index: 1;
    transition: width 0.8s;
}   

hr.hr-links:hover{
    transition: width 0.7s;
    animation: move 0.5s both ease-in-out;
}


@keyframes move{
   0%{
        width: 20px;
    }
    /*  25%{
        width: 75px;
    }
    50%{
        width: 100px;
    }
    75%{
        width: 125px;
    } */
    100%{
        width: 300px;
    }
    0%{
        width: 20px;
    }
}

/* section.link::after{
    position: absolute;
    height: 2px;
    width: 10px;
    color: red;
    top: 300px;
    right: 10px;
    background-color: red;
} */

footer{
    text-align: center;
    margin: 0px -6px 0px -6px;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    main{

    }
}