@charset "UTF-8";

:root{
    
}

*{
    padding: o;
    margin: 0;
}

body{
    background-image: linear-gradient(to right, #2e2e2e, #3f1b0f);
}

main{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#all-cards{
    margin: 80px 0px 30px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}

article.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 10px;
    margin: 10px;
}

section{
    background-color: aquamarine;
    min-width: 200px;
    margin: 10px;
    padding: 30px;
    border-radius: 14px;
}

