@charset "UTF-8";

:root{
    --background: #14425A;

    --fundo01: #10999e; 
    --fundo02: #336063; 
    --cor: #00E4EB;
    --cor: #00EFF7; 
    --cor: #00CAD1; 


}

*{
    padding: 0;
    margin: 0;
}

body{
/*     background-image: url('../imagens/pexels-jonathan-borba-4431922.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
*/
    background: linear-gradient(to bottom right, var(--fundo02)5%, var(--fundo01));

    height: 100%;
    width: 100%;

    font-family: arial, verdana, monospace;
}

header{
    line-height: 2.2em;
    width: 100%;
    margin: auto;
}

section.head{
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(20px);

    color: white;
    width: 100%;
    max-width: 211px;
    padding: 20px 80px 20px 80px;
    border-radius: 14px;
}

main{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 100%;
}

aside#all-images{
    height: 150px;
    margin: 30px;
    background-color: var(--cor);
    border-radius: 18px;
}

#images{
    margin:10px;
}

#all-cards{
        

    margin: 20px 10px 100px 0px;
    padding: 10px;

    border-radius: 20px;
    height: 270px;
    max-width: 94%;

    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(10px);

    width: 100%;
    overflow-x: scroll;
}

article.cards{
    display: flex;
    flex-direction: row;

    text-align: left;
    padding: 50px 10px 50px 10px;
    margin-right: 10px;
}

section.links{
    background-color: rgb(219, 219, 219);
    min-width: 250px;
    height: 97px;
    margin-right: 30px;
    padding: 25px 0px 25px 15px;
    border-radius: 10px;
}

::-webkit-scrollbar{
    max-width: 13px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor);
    border-radius: 5px;
}

a{
    color: var(--background);
    text-decoration: none;
    font-size: 1.3em;
}

@media screen and (min-width: 680px) {
    body{

    }

    header{
        margin-top: 40px;
        max-width: 100%;
    }
    section.head{
        min-width: 86%;
    }

    #all-cards{
        max-width: 100%;
        height: 300px;
    }

    .links{
        height: 200px;
        width: 300px;
    }

    a{
        font-size: 1.5em;
    }
}

footer{
    margin: auto;
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    max-width: 200px;
    border-radius: 30px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.37);
}

a.link-footer{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
}