@charset "UTF-8";

:root{
    --background: #14425A;

    --fundo01: #10999e; 
    --fundo02: #336063; 
    --fundo03: #272727;
    --fundo04: #4d4d4d;
    --fundo05:#6e6e6e;
    --cor: #00E4EB;
    --cor: #00EFF7; 
    --cor: #00CAD1; 


}

*{
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar{
    width: 12px;
    height: 5px;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 35px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--cor);
    border-radius: 35px;
    height: 5px;
}

p::selection, h2::selection, a::selection, img::selection{
    background-color: var(--fundo01);

}


body{
    background-image: url('../imagens/Fundos/fundo_p.jpg');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: var(--fundo03);

    height: 100%;
    width: 100%;

    font-family: arial, verdana, monospace;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.2em;
    margin: auto;
    margin-top: 20px;
}

main{
    width: 100%;
    max-width: 350px;
    margin: 8px 10px 10px 10px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;

    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    box-shadow: 2px 0.5px 5px rgba(0, 0, 0, 0.432);
}

section.head{

    max-width: 200px;
    background-color: #303030;
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);

    color: white;
    width: 50%;
    padding: 20px 80px 20px 80px;
    border-radius: 14px;
}

aside#all-images{
    height: 150px;
    margin: 30px;
    border-radius: 18px;
}

#images{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin:10px;
    padding: 10px;
}

img{
    max-width: 65px;
    margin: 0px 30px 0px 30px;
    box-shadow: 0px 20px 45px 3px rgba(186, 255, 252, 0.418);
    border-radius: 8px;
    transition: all 0.6s;
}

img:hover{
    box-shadow: 0px 15px 45px 3px rgba(186, 239, 255, 0.87);
    transform: scale(1.05);
    transition: all 0.4s;
}

#all-cards{
    background-color: rgba(80, 79, 79, 0.164);     
    padding: 10px;
    border-radius: 20px;
    height: 270px;
    margin: 20px 0px 50px 0px;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(19px);

    width: 95%;
    overflow-x: scroll;

    box-shadow: inset 0px 1px 16px rgba(143, 143, 143, 0.281);
}

.cards{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 360px;
    text-align: left;
    padding: 50px 10px 50px 10px;
}

section.links{
    background-color: var(--fundo04);
    min-width: 250px;
    height: 97px;
    margin-right: 30px;
    padding: 25px 0px 25px 15px;
    border-radius: 10px;

    border: 1px solid var(--cor);
   
}


#all-cards::-webkit-scrollbar{
    width: 12px;
    height: 5px;
}

#all-cards::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 35px;
}

#all-cards::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right, var(--cor), var(--fundo04));
    border-radius: 35px;
    height: 5px;
}

#all-cards::-webkit-scrollbar-track:hover{
    background-color: var(--fundo04);
    border-radius: 35px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

@media screen and (min-width: 680px) {
    body{
        background-image: url('../imagens/Fundos/fundo_g.jpg');  
    }

    main{
        width: 100%;
        max-width: 980px;
        margin: auto;
    }

    header{
        margin-top: 40px;
        max-width: 100%;
    }

    section.head{
        width: 90%;
        max-width: 900px;
        margin: auto;
    }

    #all-cards{
        max-width: 97.9%;
        width: 100%;
        height: 300px;
        padding-top: 50px;
    }

    #cards{

    }

    .links{
        height: 220px;
        width: 300px;
    }

    a{
        font-size: 1.5em;
    }

    #images{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin:10px;
        padding: 10px;
    }

    img{
        max-width: 100px;
        margin: 0px 30px 0px 30px;
    }
    
}

footer{
    margin: auto;
    background-color: var(--fundo04);
    text-align: center;
    color: white;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 190px;
    border-radius: 30px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.37);
    transition: all 0.6s;
}

a.link-footer{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    transition: all 0.6s;
}

a.link-footer:hover{
    letter-spacing: 10px;
    transition: all 0.6s;
}

footer:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
