@charset "UTF-8";

:root{
    --background: #14425A;
}

*{
    padding: o;
    margin: 0;
}

body{
    background-image: url('../imagens/pexels-jonathan-borba-4431922.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    background-color: var(--background);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    line-height: 2.2em;
    max-width: 1000px;
    margin: auto;
}

section.head{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: white;
    width: 100%;
    margin: 10px;
    padding: 20px 80px 20px 80px;
    border-radius: 14px;
}

main{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#all-cards{
    margin: 20px 0px 80px 0px;
    padding: 10px;
    /* background-color: rgb(82, 78, 78); */
    border-radius: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    width: 100%;
    overflow-x: scroll;
}

article.cards{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 5px 50px 5px;
}

section.links{
    background-color: rgb(219, 219, 219);
    width: 200px;
    height: 100px;
    margin-right: 20px;
    padding: 30px;
    border-radius: 10px;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 1.3em;
}

@media screen and (min-width: 680px) {
    body{
        background-image: url('../imagens/pexels-jonathan-borba-4431922.jpg');
    }
    section{
        min-width: 45%;
    }

    a{
        font-size: 1.5em;
    }
}

footer{
    margin: auto;
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
}

a.link-footer{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
}