@charset "UTF-8";

:root{
    --cor00:#ff0000;
    --cor01:#cc0000;
    --cor02:#a00000;
    --cor03:#500000;
    --cor04:#000000;
}

*{
    margin: 0;
    padding: 0;
}

hr.hr-profile{
    margin-left: 15%;
    margin-right: 25%;
    width: 250px;
    color: rgb(255, 255, 255);
}

hr.hr-text{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3.5px solid rgb(255, 72, 72);
    border-radius: 4px;
}


h1{
    display: inline;
}

body{
    background-color: #202020;
    background-image: url('../imagens/pexels-adrien-olichon-2387793.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    color: azure;

}

div{
    width: 400px;
    height: 500px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 20px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
 
}

nav#menu{
    background-color: rgba(230, 230, 230, 0.63);
    max-height: 20px;
    padding: 10px;
}

a#link-menu{
    text-decoration: none;
    color: rgb(209, 52, 52);
}

a#link-menu:hover{
    
}

section{
    display: block;
    float: none;
    min-width: 310px;
    margin-bottom: 30px;
    flex: 1;
}

@media screen and (min-width: 600px) {
    section#profile{
        float: left;
        max-width: 10%;
    }

    section#home{
        float: left;
        max-width: 60%;
        margin-left: 3em;
    }
    
}

#home{
    display: inline-block;  
    line-height: 1.8em;
    backdrop-filter: blur(19px);
    padding: 40px 20px 20px 30px;
    border-radius: 25px;
    font-size: 0.8em;
}

#home > p{
    text-align: justify;
}

span{
    background-color: rgba(255, 255, 255, 0.178);
    padding: 5px;
    border-radius: 7px;
}

#profile{
    backdrop-filter: blur(19px);
    padding: 20px 20px 20px 10px;
    border-radius: 25px;
}

#img-profile{
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 50%;
    width: 200px;
}


.nav-profile{
    text-align: center;
    font-size: 0.85em;
    margin-left: 30px;
    padding: 0px 0px 0px 0px;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 200px;
}

#icons-profile{
    display:flex;
    align-items: center;
}

nav > img{
    border-radius: 11px;
    max-width: 100px;
    max-height: 70px;
}

img#img-mesage{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 13px 13px 13px 13px;
    max-width: 35px;
    max-height: 40px;
}

img#img-phone{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 10px 15px 13px 15px;
    max-height: 50px;
}

img#img-location{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 0px 14px 0px 14px;
    width: 30px;
    height: 60px;
}

img#img-calendar{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 40px;
}

#data-profile{
    margin-left: 20px;
    text-align: left;
}

#p1-span{
    text-align: center;
    margin-right: 20px;
}

#p2-span{
    margin: 10px 24px 0px 0px;
}

article{
    display: inline-block;
    align-items: center;
    text-align: center;
    min-height: 50px;
    /* background-color: rgba(255, 255, 255, 0.281); */
    margin: auto;
    margin-top: 70px;
    margin-bottom: 3px;
    max-width: 350px;
    border-radius: 10px;
}

.article-left{
    margin-right: 5vw;
}

aside{
    height: 150px;
    width: 240px;
    background-color: rgba(147, 252, 217, 0.459);
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
