@charset "UTF-8";

:root{
    --cor00:#ff0000;
    --cor01:#cc0000;
    --cor02:#a00000;
    --cor03:#500000;
    --cor04:#000000;
}

*{
    margin: 0;
    padding: 0;
}

hr.hr-profile{
    margin-left: 15%;
    margin-right: 15%;
    color: rgb(255, 255, 255);
}

hr.hr-text{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3.5px solid rgb(255, 72, 72);
    border-radius: 4px;
}


h1{
    display: inline;
}

body{
    background-color: #202020;
    background-image: url('../imagens/fundo_p1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body > img{
    max-width: 350px;
}

main{
    display: flex;
    margin-top: 50px;
    color: azure;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

nav#menu{
    background-color: rgba(230, 230, 230, 0.63);
    max-height: 20px;
    padding: 10px;
}

a#link-menu{
    text-decoration: none;
    color: rgb(209, 52, 52);
}

a#link-menu:hover{
    
}

section{
    display: block;
    float: none;
    min-width: 310px;
    margin-bottom: 30px;
    flex: 1;
}

@media screen and (min-width: 600px) {

    body{
        background-image: url('../imagens/fundo_g.jpg');
    }
    section#profile{
        float: left;
        max-width: 25%;
    }

    section#home{
        float: left;
        max-width: 60%;
        margin-left: 0.5em;
    }

    p{
        font-size: 1.0em;
    }

}

#home{
    display: inline-block;  
    line-height: 1.8em;
    backdrop-filter: blur(19px);
    padding: 40px 25px 20px 25px;
    border-radius: 25px;
    font-size: 0.9em;
}

#home > p{
    text-align: justify;
}

span{
    background-color: rgba(255, 255, 255, 0.178);
    padding: 5px;
    border-radius: 7px;
}

#profile{
    backdrop-filter: blur(19px);
    padding: 20px 10px 20px 10px;
    border-radius: 25px;
    margin-left: 0px;
}

#img-profile{
    display:grid;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
}


.nav-profile{
    text-align: center;
    font-size: 0.85em;
    margin-left: 30px;
    padding: 0px 0px 0px 0px;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 200px;
}

#icons-profile{
    display:flex;
    align-items: center;
}

nav > img{
    border-radius: 11px;
    max-width: 100px;
    max-height: 70px;
}

img#img-mesage{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 13px 13px 13px 13px;
    max-width: 35px;
    max-height: 40px;
}

img#img-phone{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 10px 15px 13px 15px;
    max-height: 50px;
}

img#img-location{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 0px 14px 0px 14px;
    width: 30px;
    height: 60px;
}

img#img-calendar{
    background-color: rgba(146, 146, 146, 0.055);
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 40px;
}

#data-profile{
    margin-left: 20px;
    text-align: left;
}

#p1-span{
    text-align: center;
    margin-right: 20px;
    font-size: 1.2em;
}

#p2-span{
    font-family:  monospace;
    margin: 10px 24px 0px 0px;
}

#project-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 80px;
    height: 370px;
    width: 320px;
}

#cards{
    text-align: center;
    flex:0 1 39.33%;
    box-sizing: border-box;
    height: 130px;
    width: 150px;
}

@media screen and (min-width: 768px){
    #project-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 100px;
        width: 750px;
    }

    #cards{
        flex: 0 0 10.33%;
        margin-left: 30px;
        margin-bottom: 20px;
        width: 23vw;
    }

    .html-css-js{
        margin-top: 0px;
        margin-left: 0px;
    }

    .article-left{
        margin-bottom: 20px;
    }
}

.html-css{
    margin-bottom: 40px;
}

.html-css-js{

}

.js{
    margin-left: 40px;
}

aside{
    background-color: rgba(147, 252, 217, 0.459);
    border-radius: 10px;
}
