@charset "UTF-8";

:root{
    --cor00:#ff0000;
    --cor01:#cc0000;
    --cor02:#a00000;
    --cor03:#500000;
    --cor04:#000000;
}

*{
    margin: 0;
    padding: 0;
}

hr.hr-profile{
    display: inline-block;
    text-align: center;
    width: 250px;
    margin-left: 65px;
    color: rgb(255, 255, 255);
}

hr.hr-text{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    display: inline;
}

body{
    background-image: url('../imagens/pexels-adrien-olichon-2387793.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 50px;
    padding-left: 10px;
    color: azure;
}

div{
    grid-template-columns: auto auto;
    grid-column: 1/2;
    width: 400px;
    height: 500px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 20px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
 
}

#home{
    max-width: 800px;
    min-height: 100vh;
    display: inline-block;  
    line-height: 1.8em;
    backdrop-filter: blur(19px);
    padding: 30px 20px 30px 30px;
    border-radius: 25px;
    margin: 0px 0px 0px 0px;
}

#home > p{
    max-width: 780px;
}

span{
    background-color: rgba(255, 255, 255, 0.178);
    padding: 5px;
    border-radius: 7px;
}

#profile{
    backdrop-filter: blur(19px);
    padding: 20px 30px 10px 10px;
    display: inline-block;
    margin: auto;
    min-width: 350px; 
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
}

#img-profile{
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left: 70px;
    border-radius: 50%;
    width: 200px;
}


.nav-profile{
    text-align: center;
    margin-left: 30px;
    padding: 0px 0px 0px 0px;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 30px;
}

#icons-profile{
    display:flex;
    align-items: center;
}

#icons-profile > img{
    max-width: 100px;
    max-height: 70px;
}

img#img-mesage{
    max-width: 40px;
    max-height: 37px;
}

img#img-phone{
    margin-left: 5px;
    max-height: 50px;
}

#data-profile{
    margin-left: 20px;
    text-align: left;
}

#p1-span{
    text-align: center;
}

#p2-span{
    margin: 10px 0px -10px 0px;
}

article{
    display: inline-block;
    text-align: center;
    min-height: 50px;
    /* background-color: rgba(255, 255, 255, 0.281); */
    margin: auto;
    margin-top: 70px;
    margin-bottom: 3px;
    max-width: 350px;
    border-radius: 10px;
}

.article-right{
    margin-left: 80px;
}

aside{
    height: 100px;
    width: 340px;
    background-color: aquamarine;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}