@charset "UTF-8";

:root{
    --cor-main00:#FF4848;
    --cor-main01:#C13333;
    --cor-main03:#f85858;;
    --cor-main04:#6D1414;

    --fund001:#111111;
    --fundo02:#202020;
    --fundo03:#9292920e;
    --fundo04:#ffffff2d;    
    --fundo05:#ececec;
    
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* configuração da Scrollbar body */
body::-webkit-scrollbar{
    width: 13px;
}

body::-webkit-scrollbar-track-y{
    border-radius: 35px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 35px;
    border: 0.5px solid rgb(58, 58, 58);
    background-image: linear-gradient(to bottom, rgb(212, 97, 97), rgb(68, 68, 68));
}

/* links */
a:active{
    background-color: #20202000;
    color: none;
}

/* Select da Página */
*::selection{
    background-color: var(--cor-main03);
    color: rgb(255, 255, 255);
}

body{
    background-color: var(--fundo02);
    background-image: url('../imagens/Fundos/fundo_p.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

header{
    width: 100vw;
}



/* Main Principal */
main{
    display: flex;
    margin-top: 50px;
    color: var(--fundo05);
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


 /* Configuração do Menu */
nav#menu{   
    position: absolute;
    z-index: 1;
    height: 8vh;
    right: 15px;
    top: 70px;
    background-color: transparent;

    display: flex;
    justify-content: space-around;

    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#menu > hr{
    width: 40px;
}

ul#nav-list{
    list-style: none;

    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 60vh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #202020;

    transform: translateX(200%);
    transition: transform 0.3s ease-in;

    border-radius: 15px;
}

ul#nav-list.active{
    transform: translateX(0);
}

ul#nav-list > li{
    letter-spacing: 3px;
    opacity: 0;
}

a#link-menu{
    text-decoration: none;
    color: var(--cor-main01);
}

a#link-menu:hover{
    cursor: pointer;
    opacity: 0.8;
}

div.mobile-menu{
    cursor: pointer;
    display: absolute;
    right: 15px;
    top: 80px;
    z-index: 2;
}

div.mobile-menu  div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.1s;
}

.mobile-menu:hover{
    position: fixed;
}



.mobile-menu:hover .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu:hover .line2{
    opacity: 0;
}

.mobile-menu:hover .line3{
    transform: rotate(45deg) translate(-4px, -6px);
} 

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Section Globais */
section{
    display: block;
    float: none;
    max-width: 390px;
    margin-bottom: 30px;
    flex: 1;
}


/* Configuração da Section PROFILE */
#profile{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 20px 10px 20px 10px;
    border-radius: 25px;
    margin-left: 0px;
}

span{
    background-color: var(--fundo04);
    padding: 5px;
    border-radius: 7px;
}


#img-profile{
    display:grid;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
}

.aside-profile{
    text-align: center;
    font-size: 0.85em;
    margin-left: 30px;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 30px;
    min-width: 200px;
}

#icons-profile{
    display:flex;
    align-items: center;
    width: 100%;
}

aside > img{
    border-radius: 11px;
    max-width: 100px;
    max-height: 70px;
}

img#img-mesage{
    background-color: var(--fundo03);
    padding: 13px 13px 13px 13px;
    max-width: 35px;
    max-height: 40px;
}

img#img-phone{
    background-color: var(--fundo03);
    padding: 10px 15px 13px 15px;
    max-height: 50px;
}

img#img-location{
    background-color: var(--fundo03);
    padding: 0px 14px 0px 14px;
    width: 30px;
    height: 60px;
}

img#img-calendar{
    background-color: var(--fundo03);
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 40px;
}

#data-profile{
    margin-left: 20px;
    margin-top: 0.1em;
    margin-bottom: 0.6em;
    text-align: left;
    width: 100%;
}

#p1-span{
    text-align: center;
    margin-right: 20px;
    font-size: 1.2em;
}

#p2-span{
    font-family:  monospace;
    margin: 10px 24px 0px 0px;
}

hr.hr-profile{
    margin-left: 17%;
    margin-right: 15%;
    color: var(--fundo05);
}


/* Configuração da Section HOME */
#home{
    display: inline-block;
    line-height: 1.8em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px 25px 20px 25px;
    border-radius: 25px;
    font-size: 0.9em;
}


hr.hr-text{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3.5px solid var(--cor-main03);
    border-radius: 4px;
}

#home > p{
    text-align: justify;
    font-size: 1.1em;
    margin: 0 ;
}

#all-cards{
    /* Container Cards */
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    overflow-x: scroll;
    margin-bottom: 80px;
    box-shadow: inset 2px 2px 12px 5px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

/* estilizando a scrollbar Projetos */
#all-cards::-webkit-scrollbar{
    width: 5px;
    height: 6px;
}

#all-cards::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: transparent;
    transition: all 0.9s;
}

#all-cards::-webkit-scrollbar-thumb{
    border-radius: 35px;
    background-image: linear-gradient(to right, var(--cor-main00),  var(--fundo03));
}

#all-cards::-webkit-scrollbar-track:hover{
    background-color: var(--fundo04);
}

#project-cards{
    /* Sub-container Cards */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 80px;
    width: 100%;
    max-width: 300px;
    height: 200px;

}

#cards{
    /* Cards */
    font-family: monospace;
    text-align: left;
    height: 120px;
    width: 200px;
    margin-left: 20px;
}

.txt{
    color: var(--fundo05);
    letter-spacing: 1.0px;
    font-size: 1.1em;
    padding: 10px 10px;
    text-align: left;
}

.descrition{
    font-size: 0.85em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    color: rgb(17, 224, 231);
}


/* Configurações de Layout Para Dispositivos Com a Tela Acima de 600px */
@media screen and (min-width: 600px) {

    body{
        background-image: url('../imagens/Fundos/fundo_g.jpg');
    }

    section#profile{
        float: left;
        max-width: 25%;
    }

    section#home{
        float: left;
        max-width: 60%;
        margin-left: 0.5em;
    }

    p{
        font-size: 1.0em;
    }

}


/* Configuração dos Cards Para dispositivos acima de 768px */
@media screen and (min-width: 768px){

    nav#menu{

    }

    #home > p{
        text-align: justify;
        font-size: 1.25em;
        line-height: 1.6em;
        margin: 0 ;
    }

    #project-cards{
        margin-top: 80px;
        width: 100%;
    }

    #cards{
        text-align: left;
        height: 125px;
        margin-left: 46px;
        font-size: 1.0em;
        width: 300px;
        max-width: 400px;
        /* font-size: 1.0em; */
    }

    .txt{
        padding: 15px 0px 0px 15px;
        font-size: 1.6em;
    }
    
    .descrition{
        padding: 0px 0px 30px 15px;
        line-height: 4.0em;
        font-size: 1.5em; 
    }
    
}

/* Aside Globais */
#cards{
    background-color: var(--fundo02);
    box-shadow: 0.3em 0.5em 1.0em rgba(10, 10, 10, 0.562);
    border-radius: 10px;
    border: 0.7px solid var(--cor-main04);
    overflow: hidden;
    position: relative;
    transition: all 0.1s;
}

aside#cards:hover{
    transform: skew(5deg);
}

aside#cards-content{
    transform: skew(-5deg);
    position: relative;
    z-index: 2;
    padding: 20px;
}

aside#cards:hover > #cards-content{
    transform: skew(-5deg) translateY(30px)
}
