@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    /* darks */
    --dark00: #3d3d3d;
    --dark01: #424f61;
    --dark02: #272727;

    /* lights */
    --light00: #55b1db;
    --light01: #ff4343;
}


body{
    font-family: Arial, Helvetica;
    background-color: rgb(218, 218, 218);
}

header{
    width: auto;
    max-width: 100%;
    padding: 10px;
    background-color: var(--light00);
    color: white;
}

header > h1{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    margin: 10px 0px;
}

main#main-project{
    max-width: 900px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 5px;

    background-image: linear-gradient(180deg, var(--dark00), var(--dark01));
    border-radius: 10px;
    border: 0.5px solid rgb(219, 219, 219);

    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.514);
}

article#title{
    margin: -5px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
    height: 90px;
    background-color: var(--dark02);
}

article#title h1{
    padding: 20px 0px 0px 20px;
    color: var(--light01);
    font-family: 'Times New Roman', Times, serif;
}

hr.hr-title{
    max-width: 20vw;
    margin: 0px 0px 0px 20px;
}

article#all-cards{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 50px 0px;
    padding: 0px 0px 50px 0px;
}

aside#card-news{
    max-width: 300px;
    margin: 0px 50px;
}

section#card{
    background-color: aliceblue;
    margin: 20px 0px 0px 0px;
    padding: 40px 80px 40px 25px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.322);
    border: 0.5px solid rgb(218, 253, 255);
}

section#card  a{
    text-decoration: none;
}

section#card div{
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;

    width: 100%;
}

div  h1{
    margin-bottom: 3px;
}

div p{
    margin-top: 10px;
    line-height: 1.5em;
}

hr.hr-cards{
    max-width: 6.5vw;
    background-color: #55b1db;
    border: none;
    border-radius: 2px;
    height: 4px;
}

#page01{
    background-color: yellowgreen;
}

#page02{
    background-color: steelblue;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

footer p{
    padding: 5px 0px;
    letter-spacing: 2px;
}
