@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    /* darks */
    --dark00: #3d3d3d;
    --dark01: #424f61;
    --dark02: #272727;

    /* lights */
    --light00: #55b1db;
    --light01: #43ffe0;
}


body{
    font-family: Arial, Helvetica;
    background-color: rgb(218, 218, 218);
}

header{
    width: auto;
    max-width: 100%;
    padding: 10px;
    background-color: var(--light00);
    color: white;
}

header > h1{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    margin: 10px 0px;
}

main#main-project{
    max-width: 900px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 70px;
    padding: 5px;

    background-image: linear-gradient(180deg, var(--dark00), var(--dark01));
    border-radius: 10px;
    border: 0.5px solid rgb(219, 219, 219);

    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.514);
}

article#title{
    margin: -5px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
    height: 90px;
    background-color: var(--dark02);
}

article#title h1{
    padding: 20px 0px 0px 20px;
    color: var(--light01);
    font-family: 'Times New Roman', Times, serif;
}

hr.hr-title{
    max-width: 35vw;
    margin: 0px 0px 0px 20px;
}

article#all-cards{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 50px 0px;
    padding: 0px 0px 50px 0px;
}

aside.card-news{
    max-width: 230px;
    max-height: 400px;
    margin: 17px 50px;
    flex: 0 1 300px;

    padding: 30px 60px 20px 20px;
    text-shadow: 0.2em 0.3em 0.4em rgba(0, 0, 0, 0.219);  
    border-radius: 7px;  
    border: 0.2px solid rgb(218, 253, 255);
}

aside#android{
    background-image: url('../android_site/imgs/fundo_android-02.png');
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
    background-attachment: scroll; 
}

aside#facebook{
    background-image: url('../facebook_site/imagens/Img.site/fundo_facebook-01.png');
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
    background-attachment: scroll; 
}

section.card{
    text-align: left;
    flex: 0 1 300px;
}

section.card  a{
    text-decoration: none;
    color: white;
}

section.card div{
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 15px 10px 10px 13px;

    width: 90%;
    box-shadow: 0.2em 0.3em 0.9em rgba(0, 0, 0, 0.432); 
}
div#div-android >h1{
    margin-bottom: 3px;
    text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.356);
    color: rgb(0, 255, 76);
}

div#div-facebook >h1{
    margin-bottom: 3px;
    text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.356);
    color: rgb(0, 225, 255);
}


div p{
    margin-top: 10px;
    line-height: 1.5em;
}

hr.hr-cards{
    max-width: 6.5vw;
    background-color: #55b1db;
    border: none;
    border-radius: 2px;
    height: 4px;
}

#page01{
    background-color: rgb(0, 255, 55);
}

#page02{
    background-color: rgb(31, 203, 233);
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

footer p{
    font-size: 0.9em;
    padding: 5px 0px;
    letter-spacing: 2px;
    color: white;
    background-color: #272727;
}
