@charset "UTF-8";

:root{
    --color-main00: #AF17E6;
    --background00: #986B9E;
    --background01: #93009E;

    --color-main01:#E6AC2E;
    --background02:#E5C965;
    --background03: #E5BB0B;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--color-main00);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--background02);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.345);
}

section#login div#imagem{
    background:  url('../imagens/fundos/fundo-cadeados.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login div#formulario{
    display: block;
    padding: 10px;
}