@charset "UTF-8";

:root{
    --color-main00: #AF17E6;
    --background00: #986B9E;
    --background01: #93009E;

    --color-main01:#E6AC2E;
    --background02:#E5C965;
    --background03: #E5BB0B;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--color-main00);
    height: 100vh;
    width: 100vw;

    transition: background 0.5s ease;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--background02);
    width: 350px;
    min-height: 500px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.345);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease-in-out;
}

section#login div#imagem{
    background:  url('../imagens/fundos/fundo-cadeados.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

fieldset{
    padding: 10px 5px 20px 5px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--background01);
}

legend{
    text-align: left;
    padding: 0px 5px 0px 5px;
}

section#login div#formulario{
    display: block;
    padding: 10px; 
    margin-bottom: 10px;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 5px;
}

div#formulario p{
    font-size: 0.9em;
}

div#formulario input{
    border: 0.5px solid rgba(212, 0, 255, 0.486);
    border-radius: 5px;
    padding: 3px;
}

div#formulario input:focus{
    outline: none;
    border: 1px solid var(--background01);
    box-shadow: 0em 0.3em 0.8em rgba(112, 16, 112, 0.295);
}

section#login a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    margin: 0px 10px 0px 10px;
}

input#enviar{
    border: 0.5px solid var(--background01);
    background-color: #db79ff;
    min-height: 16%;
    min-width: 18%;
    color: white;
}

input#enviar:hover{
    background-color: #AF17E6;
}